h1 {
    text-align: center;
    color: orange;
}

img {
    width: 200px;
    position: absolute;
    float: left;
}

#essential {
    text-align: center;
}

table {
    border: slategrey;
    padding: 3%;
}